---
import Layout from "../layouts/Layout.astro";
import EventList from "../components/events/EventList.svelte";
---

<Layout title="Oukonva">
  <main>
    <EventList client:only />
  </main>
</Layout>
