<nav id="header-title" class="hidden w-screen flex mb-8">
  <h1 class="m-auto text-7xl">Oukonva</h1>
</nav>
<style>
  @font-face {
    font-family: "Nightydemo";
    src: url("/fonts/Nightydemo.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  h1 {
    font-family: "Nightydemo", sans-serif;
  }
</style>
